.eachFight {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66vh;
  width: 55vw;
  /* border: .5rem solid rgb(146, 9, 9);
  border-radius: 10px;
  background-color: goldenrod; */
  transition: transform .2s;


}

.eachFight:hover {
  transform: scale(1.2);
  border: .5rem rgb(180, 9, 9);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.514);


}

.fightDetails {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: rgb(163, 9, 9);
  border: 10px solid goldenrod;
  border-radius: 5px;
  width: 40vw;
  box-shadow: grey 5px 5px;
}

.fightsAndDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  gap: 10px;

}

.imageMatch {
  display: flex;
  width: 55vw;
  justify-content: center;
  align-items: center;
  padding: 10px;

  gap: 40px;
}

.matchup {
  display: grid;
  grid-template-columns: 20fr 1fr 20fr;
  /* width: 40vw;
  align-items: center;
  background-color: #af0000;
  border: 10px solid goldenrod;
  border-radius: 5px;
  margin-top: 4vh; */



}

.vs {
  color: rgb(158, 17, 17);
}

.VS {
  color: rgb(255, 255, 255);
}

.names {
  color: black;
}

.cardImage {
  object-fit: cover;
  height: 25em;
  width: 25em;
  border-radius: 10px;
  margin-bottom: 10px;

}

.fighterPicture {
  margin: 10px;

  background-image: radial-gradient(circle,
      #ffd202,
      #fcc900,
      #f9c000,
      #f5b800,
      #f1af00,
      #eca000,
      #e69200,
      #e08300,
      #d56a00,
      #ca5000,
      #bd3300,
      #af0000);
  object-fit: cover;
  height: 30vh;
  width: 20vw;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: grey 5px 5px;
}



.fightsOnCard {
  display: flex;
  flex-direction: column;


}

.fightsOnCard:hover {
  gap: 55px
}



.divisionWinner {
  color: black;

}

.mainCard {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.weightWinner {

  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #af0000;
  border: 5px solid goldenrod;
  border-radius: 5px; */
  width: 35vw;


}

.boutAndNames {
  display: flex;
  flex-direction: column;
  width: 46vw;
  align-items: center;
  background-color: #af0000;
  border: 10px solid goldenrod;
  border-radius: 5px;
  margin-top: 4vh;

}