.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;

}


.Card-Title {

  text-transform: uppercase;

}

.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImage {
  object-fit: cover;
  height: 20em;
  width: 20em;
  border-radius: 10px;
  margin-bottom: 10px;

}

.cardInfo {
  transition: transform .2s;

  border-radius: 10px;
}

.cardInfo:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.514);

}

.welcomeMessage {
  font-size: 5vh;
  height: 6vh;
}