.Nav-Bar {
  display: flex;
  align-items: center;
  align-content: center;

  background-color: rgb(168, 0, 0);
  border: 10px white;
  border-radius: 10px;
  height: 8vh;
  padding: 5px;
  margin: 10px;
  color: rgb(231, 169, 11);

  text-align: left;
  justify-content: space-between;
  font-size: 3vh;
}
.ufc-hub {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

#settings-icon {
  font-size: 30px;
  padding: 0 5px 0 0;
}
.admin {
  display: flex;
  justify-content: center;
}
.title {
  color: white;
  font-family: 'Sternbach', sans-serif;
  /* font-family: 'Sternbach Hollow', sans-serif; */
  font-size: 60px;
  font-style: italic;
}
.hub {
  color: white;
  font-family: 'Sternbach', sans-serif;
  font-family: 'Sternbach Hollow', sans-serif;
  font-size: 60px;
  font-style: italic;
}
.links {
  display: flex;

.link {
  transition: transform .2s;
  background-color: rgba(0, 255, 255, 0);
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-underline 5s;

}

.link {
  transition: transform 0.2s;
  background-color: rgba(0, 255, 255, 0);
}



.link:hover {
  background-color: rgba(0, 255, 255, 0);
  text-decoration: underline;
  transition: text-decoration-underline 5s;
  transform: scale(1.2);
}

.ufcHub {
  display: flex;
}

