.Nav-Bar {
  display: flex;
  align-items: center;
  align-content: center;

  background-color: rgb(168, 0, 0);
  border: 10px white;
  border-radius: 10px;
  height: 8vh;
  padding: 5px;
  margin: 10px;
  color: rgb(231, 169, 11);

  text-align: left;
  justify-content: space-between;
  font-size: 3vh;

}

.links {
  display: flex;
}

.link {
  transition: transform .2s;
  background-color: rgba(0, 255, 255, 0);
}
#title {
  font-family: 'Sternbach', sans-serif;
  font-family: 'Sternbach Hollow', sans-serif;
  font-size: 80px;
  display: absolute;
}
#home {
  display: flex;
  flex-grow: 0.52;
}
#home,
#logout,
#admin,
#register,
#login {
  text-decoration: overline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}
#home:hover,
#logout:hover,
#admin:hover,
#register:hover,
#login:hover {
  color: white;
  text-decoration: overline;
  transition: text-decoration-underline 5s;
}


.link:hover {
  background-color: rgba(0, 255, 255, 0);
  transform: scale(1.2);
}

